<html>
    <head>
        <meta charset="utf-8"/>
        <base href="{global.baseUrl}"/>
        <title>{title} | {global.companyName}</title>
        <link rel="stylesheet" type="text/css" href="public/main.css" />
    </head>
    <body class="{class}">
        <div class="header">
            <a href="/" class="logo"></a>
            <ul class="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/account/create">Signup</a>
                </li>
                <li>
                    <a href="/session/create">Login</a>
                </li>
                <li>
                    <a href="/account/edit">Account</a>
                </li>
                <li>
                    <a href="#">Logout</a>
                </li>
            </ul>
        </div>
        <div class="content">